/*IMPORTANT: TO BE ABLE TO PUSH FOOTER TO BOTTOM OF ALL PAGES */
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
}

.content-wrapper {
  flex: 1; 
}

/***********************************************************/

/*ID's*/
/*Title Section*/
#başlık{
  background-color: #B4E4FF;
  color: #413543;
}

/*Features Section*/
#özellikler{
  padding: 7%;
}

/*Tutors Section*/
#eğitmenler{
  padding: 2% 5% 8% 5%; /* %2 for top, %10 for right, %8 for bottom, %10 for left*/
  background-color: #B4E4FF;
}

/*Pricing Section*/
#ders-al{
  padding: 100px;
}

/*Footer Section*/
#footer{
  background-color: #B4E4FF;
  padding: 2%;
  text-align: center;
}

/***********************************************************/

/*Tag Selectors*/
h1{ 
  font-family: 'Montserrat', sans-serif;  
  font-size: 3.5rem; /*Büyültmek için*/
  line-height: 1.5; /*Daha fazla yer kaplasın diye*/
  font-weight: 900; /*Kalınlaştırmak için*/
}

body{
  font-family: 'Montserrat', sans-serif; 
  overflow-x: hidden;
}

h2{
  text-align: center;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 3rem;
  color: #413543;
}

h3{
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.5rem;

  color: #4E6E81;
}

p{
  color: #8f8f8f;
  text-align: center;
}

/***********************************************************/
/*Class Selectors*/

/*For Title Part*/
.chess-image{
  width: 80%;
  margin-left: 150px;
}

.container-fluid{
  padding: 7% 15%; /*%7 for top and bottom, %15 for left and right*/
}

/*Navigation bar*/
.navbar-brand{
  margin-left: 50px;
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  margin-right: 50px;
}

.nav-link{
  font-size: 1.5rem;
  font-family: 'Montserrat-Light';
  margin-right: 50px;
}

.header-button{
  background-color: black;
  font-size: 1.2rem;
}

/***********************************************************/

/*For Features Part*/
.allContainers{
  text-align: center;
}

.fa-solid{
  font-size: 4rem;
  margin-bottom: 20px;
}

.fa-solid:hover{
  color: #00235B;
}

/***********************************************************/

/*For Tutors Part*/
.person{
 text-align: center;
}

.photos{
  border-radius: 100%; /*Yuvarlak yapmak için*/
}

.photo-container{
  margin-right: 100px;
}

.iso-photo{
  height: 400px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.şamil-photo{
  height: 400px;
  margin-left: 35px;
}

.barış-photo{
  height: 400px;
  width: 400px;
  margin-left: 70px;
}

.deniz-photo{
  height: 400px;
  width: 400px;
  margin-left: 100px;
}

.names{
  font-weight: bold;
  font-family: 'Montserrat';
  color: #413543;

  margin-top: 20px;
}

.barış-name{
  font-weight: bold;
  font-family: 'Montserrat';
  color: #413543;
  
  margin-left: 175px;
  margin-top: 20px;
}

.şamil-name{
  font-weight: bold;
  font-family: 'Montserrat';
  color: #413543;

  margin-left: 90px;
  margin-top: 20px;
}

.deniz-name{
  margin-left: 220px;
  margin-top: 20px;
  font-weight: bold;
  font-family: 'Montserrat';
  color: #413543;
}

.staff{
  margin-top: 100px;
  margin-bottom: 100px;
}

/***********************************************************/

/*For Pricing Part*/
.card{
  height: 100%;
}

.card-group{
  margin-bottom: 100px;
}

.sign-up-buttons{
  width: 100%;
}

.pricing-column{
  padding: 3% 2%; /* 3% for top and bottom, 2% for left and right*/
}

/***********************************************************/

/*For Footer Part*/
.social-media{
  margin: 0 10px 20px 10px; /*10 px for left and right, 20px for bottom*/
  font-size: 3rem;
}

/***********************************************************/
/*LATER ADDED*/

#rows{
  padding: 2% 5% 2% 5%; /* %2 for top, %10 for right, %8 for bottom, %10 for left*/
}

#hosgeldiniz{
  padding: 2% 5% 5% 5%; /* %2 for top, %10 for right, %8 for bottom, %10 for left*/
}

.iso-name{
  text-align: center;
}

.samilName{
  text-align: center;
  margin-left: 2rem;
}

.barisName{
  margin-left: 150px;
}

.denizName{
  margin-left: 220px;
}

.hosgeldiniz{
  text-align: center;
}

.warning-icons{
  margin-left: 2px;
  margin-bottom: 2px;
}

.checkout-process-nav-item{
  margin: 3px;
}

.checkout-step-names{
  margin: 2px;
}

.custom-paragraph{
  text-align: left;
  color: black;
}




